table, th, td {
    border: 1px solid black;

}

th, td {
    padding: 15px;
    ;
}

th {
    text-align: left;
    background-color: black;
    color: white;
    
}

table {
    border-spacing: 5px;
}

img { 
    height:200px; 
    align-items: center;
}

table td.shrink {
    white-space:nowrap;
}

h1{
    color: gold;
    text-align: center;
}